<style>
    *,
    *:after,
    *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

    .market-data-container {
        width: 90%;
        margin: 0 auto;
        padding-top: 70px;
        position: relative;
    }

    .market-data-container input[type="radio"],
    .market-data-container .tab-content {
        clear: both;
        padding-top: 10px;
        display: none;
    }

    .market-data-container label {
        font-weight: 700;
        font-size: 18px;
        display: block;
        float: left;
        width: 20%;
        padding: 1.5em;
        color: #757575;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        background: #f0f0f0;
    }

    .market-data-container .tab-content {
        -webkit-animation: fadeInScale 0.7s ease-in-out;
        -moz-animation: fadeInScale 0.7s ease-in-out;
        animation: fadeInScale 0.7s ease-in-out;
    }

    .market-data-container .tab-content h3 {
        text-align: center;
    }

    .market-data-container [id^="tab"]:checked+label {
        background: #fff;
        box-shadow: inset 0 3px #0CE;
    }

    /*Content Animation*/

    @keyframes fadeInScale {
        0% {
            transform: scale(0.9);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>

<div class="market-container row pure-g">
    <div class="pure-u-1-1" id="star-system"></div>
    <div class="pure-u-1-1" id="market-data"></div>
</div>

<script type="text/javascript" src="node_modules/nes/dist/client.js"></script>
<script>
    const client = new nes.Client('ws://localhost:12342');

    const marketDataContainer = document.querySelector('#market-data');
    const marketLocationContainer = document.querySelector('#star-system');

    const start = async () => {

        async function updateData(data) {

            marketLocationContainer.innerHTML = `<table class="pure-table">
                <thead>
                    <tr>
                        <th>System</th>
                        <th>Station</th>
                        <th>Last Update (Game Time)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>${data.system}</td>
                        <td>${data.station}</td>
                        <td>${new Date(data.timestamp).toLocaleString()}</td>
                    </tr>
                </tbody>
            </table>`;


            const marketContent = document.createElement('div');
            marketContent.classList.add('market-data-container');

            let divContent = ``;
            const tabs = Object.keys(data.results).map((key, index) => {
                // Each category
                const marketCategory = data.results[key];

                let idKey = key.split('_');
                idKey.splice(0, 1);
                idKey = idKey.join('-').replace(';', '');

                return `
                    <style type="text/css">
                        #${idKey}:checked ~ #tab-content-${idKey} {
                            display: block;
                            padding: 20px;
                            background: #fff;
                            color: #999;
                            border-bottom: 2px solid #f0f0f0;
                        }
                    </style>
                    <input type="radio" name="tabs" id="${idKey}" ${index === 0 ? 'checked' : ''}/>
                    <label for="${idKey}" role="tab" aria-selected="true" aria-controls="panel-${idKey}" tabindex="0">${marketCategory.name}</label>
                    <div id="tab-content-${idKey}" class="tab-content" role="tabpanel" aria-labelledby="description" aria-hidden="false">
                        <table class="pure-table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Buy</th>
                                    <th>Sell</th>
                                    <th>Mean</th>
                                    <th>Stock/Demand</th>
                                </tr>
                            </thead>
                            <tbody>${marketCategory.items.map(item => `<tr>
                                <td>${item.Name_Localised}</td>
                                <td>${item.BuyPrice}</td>
                                <td>${item.SellPrice}</td>
                                <td>${item.MeanPrice}</td>
                                <td>${item.Stock} / ${item.Demand}</td></tr>`).join('')}
                            </tbody>
                        </table>
                    </div>
                `;
            }).join('');

            divContent = `${divContent}${tabs}`;
            console.log(divContent);
            marketContent.innerHTML = divContent;
            console.log(marketContent);
            marketDataContainer.appendChild(marketContent);
        }

        function handler(marketEvent) {
            updateData(marketEvent);
        }

        const data = await fetch('/api/market').then(data => data.json());
        await updateData(data);
        await client.connect();
        client.subscribe('/stream/market', handler);
    };

    start();
</script>
