<p>
    The Elite: Dangerous Immersion Toolkit is an application that allows you to set up external environmental effects in response to in-game
    events via the Commander log.  Currently the app is limited to what the game provides so not all events available, and some are written 
    later in the log than the event appears on screen.
</p>
